<div class ="container-fluid">
	<div class="row">			
			{% for device in computoDevice %}
				<div class=" col-sm-12 col-md-4">
					<button class ="btn btn-outline-dark btn-block m-1" onclick="anadir({{device.id}},'{{device.descripcion}}')">{{device.descripcion}}</button>
				</div>
			{% endfor %}
	</div>												
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">				
			<h5 class="text-primary text-center">Tabla de Consumo</h5>
		</div>
	</div>		
	<div class="row table_responsive">
		<div class="col-sm-12 col-md-12 col-lg-12 overflow-auto">
			<table id= "tablaConsumo" class="table table-hover table-striped" >   	
				<thead class="thead-dark">
					<tr>
						<th scope="col"> Nombre Equipo</th>
						<th scope="col"> Horas</th>
						<th scope="col"> Watts</th>
						<th scope="col" > Eliminar Equipo </th>						
					</tr>
					
				</thead>
				<tbody id="table-body">
				</tbody>
			</table>	
		</div>									 				  
	</div>																 

</div>

