<div class ="container-fluid">
	<div class="row">			
			{% for device in computoDevice %}
				<div class=" col-sm-12 col-md-4">
					<button class ="btn btn-outline-dark btn-block m-1" onclick="anadir({{device.id}},'{{device.descripcion}}')">{{device.descripcion}}</button>
				</div>
			{% endfor %}
	</div>												
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">				
			<h5 class="text-primary text-center">Tabla de Consumo</h5>
		</div>
	</div>		
	<div class="row table_responsive">
		<div class="col-sm-12 col-md-12 col-lg-12 overflow-auto">
			<table id= "tablaConsumo" class="table table-hover table-striped" >   	
				<thead class="thead-dark">
					<tr>
						<th scope="col">Descripcion</th>
						<th scope="col"> Consumo Kw/H</th>
						<th scope="col"> Cantidad</th>
						{% comment %} <th scope="col"> Total Kw/H</th> {% endcomment %}
						<th scope="col"> Perfil de carga</th>
						<th scope="col" > Eliminar</th>						
					</tr>
					
				</thead>
				<tbody id="table-body">
				</tbody>
			</table>	
		</div>									 				  
	</div>																 

</div>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
{% comment %} Para modal centrado: modal-dialog-centered {% endcomment %}
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Tiempo de operación de los equipos en horas</h5>
        <button type="button" id="cerrar" class="close" onclick="cerrar()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body horario-js"></div>
      <div class="modal-footer">
			<button type="button" class="btn btn-primary" id="save-modal" onclick="guardarHoras()">Save</button>
      </div>
    </div>
  </div>
</div>
