<h1 class="my-5 text-center text-primary"> Ingreso de datos para el cálculo del dimensionamiento del SFV </h1>
<hr>

<form id="impl" action="{% url 'calculadora:panel-y-bateria' %}" method="post">
	{% csrf_token %}
	<div class="container">		
		<!-- Modal -->					
		<div class="form-row">																
			<div class="col-6 col-sm-6 col-md-3 align-self-center my-2">
				<button class="btn btn-primary preven" name ="consumo-diario" id="consumo-diario" data-toggle="modal" data-target="#exampleModal" onclick="mostrarFormularioCalcular()">Perfil de carga <i class="fa fa-calculator"></i></button>
			</div>
			<div class="col-sm-6 col-md-6 col-md-3 col-lg-3 align-self-center">				
				<label id="valor_consumo">Sin resultados</label>
			</div>			

			<input class=""type="hidden" id="consumoDiario" name="consumoDiario" value="">
			<div class="form-group col-sm-12 col-md-6">
				<label for="hsp"> Radiación Solar HSP <a href="#calcular" id="info-hsp" data-toggle="popover" title="HSP" data-content="Valor obtenido despues de dos simulaciones en el aplicativo web lawebdelasenergiasrenovables.com" data-placement="top" data-trigger="focus"><i class="fa fa-info-circle"></i></a></label>
				<input class="form-control" type="number" name="hsp" value="3.97" step="0.01" required="" id="hsp">
			</div>	
		</div>
		<div class="form-row">
			<div class="form-group col-sm-12 col-md-6">
				<label for="autonomiaDias"> AUTONOMÍA</label>
				<input type="number" class="form-control-inline" name="autonomia-dias" id="autonomiaDias" min="0" required> Días
			</div>				
			<div class="form-group col-sm-12 col-md-6">
					<label for="metros"> Distancia Panel-Inversor</label>					
					<input type="number" name="metros" id="metros" class="form-control-inline" min="0" required> metros
			</div>				
		</div>

		<div class="form-row">			
			<div class="form-group col-sm-12 col-md-6">
				<label for="potenciadepanel"> Potencia paneles</label>				
				<select class="form-control" name="potencia-de-panel" id="potenciadepanel">	
				{% for watt in panelCategory %}
					<option id="{{watt}}" value="{{watt}}">{{watt}} W</option>
				{% endfor %}				
				</select>
			</div>			

			<div class="form-group col-sm-12 col-md-6">
				<label for="lista"> Inversor <a href="#calcular" id="info-inversor" data-toggle="popover" title="PS-LS1522-3KW" data-content="Soporta un perfil de carga pico de hasta 3kW" data-placement="top" data-trigger="focus"><i class="fa fa-info-circle"></i></a> </label>
				<select name="inversor" class="form-control" id="inversor">				
				<option id="" value="PS-LS1522-3KW">PS-LS1522-3KW </option>
				<option id="" value="PIS5K5-48-5KW">PIS5K5-48-5KW </option>
				<option id="" value="PS-LTS2022-10KW">PS-LTS2022-10KW </option>				
			</select>
			</div>				

			
		</div>		

		<div class="form-row">		
			<div class="form-group col-sm-12 col-md-6">
				<label for="capacidad"> Capacidad Baterias</label>
				{% comment %} <input type="number"  class="form-control" min="0" required> {% endcomment %}
				<select class="form-control" id="capacidad" name="capacidad">
					{% for ah in bateriaCategory %}
						<option id="{{ah}}" value={{ah}}>{{ah}} Ah</option>
					{% endfor %}
				</select>
			</div>		
			<div class="form-group col-sm-12 col-md-6">
				<label for="voltaje"> Voltaje Baterias <a href="#calcular" id="info-bateria" data-toggle="popover" title="NA" data-content="" data-placement="top" data-trigger="focus"><i class="fa fa-info-circle"></i></a></label>
				<select class="form-control" name="voltaje" id="voltaje">
					{% for v in category %}
						<option id="{{v}}" value="{{v}}">{{v}} V</option>
					{% endfor %}
				</select>
			</div>						

		</div>									
		<div class="form-row">
			<div class="col-sm-12 col-md-12 my-2">
				<button type="submit" class="btn btn-outline-success btn-block">Calcular <i class="fa fa-calculator"></i></button>
			</div>
		</div>
	</div>
	
</form >

<div class="modal fade bd-equipos-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-primary" id="exampleModalLabel"> Lista de equipo de computo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
				</button>
			</div>
			<div class="modal-body" id="mostrar"></div>
			<div class="modal-footer">					
				<button id="guardar_cerrar" class="btn btn-primary" onclick="obtenerAllDateTable()">Guardar <i class="fa fa-floppy-o"></i></button>
			</div>
		</div>
	</div>
</div>
