<!DOCTYPE html>
<html>
<head>
	<title>Informacion tipos SFV</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../resources/css/estilos.css">
</head>
<body>
	<div>
		<h1 class="my-5 text-center text-primary">Contactar</h1>
		<hr>
		<div class="container text-center">
			<h2>Llámenos o deje un mensaje: </h2>				
		</div>
		<div class="row col-md-12 jumbotron">
			<div class="row col-md-6">
				<h4 class="text-center">Nombre: Roger Alexander Loor Borbor</h4> 
				<h4 class="text-center">Celular: 0979936143</h4>
				<h4 class="text-center">Correo electrónico: roger_isc@hotmail.com</h4>
			</div>
			<div class="row col-md-6">
				<h4 class="text-center">Nombre: Byron Andrés Mora Villao</h4> 
				<h4 class="text-center">Celular: 0989914058</h4>
				<h4 class="text-center">Correo electrónico: byron16_90@hotmail.com</h4>
			</div>
		</div>	
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

