<div>
		<h1 class="my-5 text-center text-primary">Contactar</h1>
		<hr>

		<div class="text-center">
			<h2>Llámenos o deje un mensaje: </h2>				
		</div>

		<div class="row">
			
			<div class="col-md-12 col-sd-12 col-lg-6 ">
				<div class="jumbotron">
					<h4 class="text-left">Nombre: Roger Alexander Loor Borbor</h4> 
					<h4 class="text-left">Celular: 0979936143</h4>
					<h4 class="text-left">Correo electrónico: roger_isc@hotmail.com</h4>
					<h4 class="text-left">Correo institucional: roger.loorb@ug.edu.ec</h4>
				</div>				
			</div>

			<div class="col-md-12 col-sd-12 col-lg-6 ">
				<div class = "jumbotron">
					<h4 class="text-left">Nombre: Byron Andrés Mora Villao</h4> 
					<h4 class="text-left">Celular: 0989914058</h4>
					<h4 class="text-left">Correo electrónico: byron16_90@hotmail.com</h4>
					<h4 class="text-left">Correo institucional: byron.morav@ug.edu.ec</h4>
				</div>				
			</div>
			
		</div>	
</div>