<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../resources/css/estilos.css">


</head>
<body class="body">
	<header>
		<div>	
			<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleerDemo01" aria-controls="navbarToggleerDemo01" aria-expanded="false" aria-label="Toggle navigation">
     			<span class="navbar-toggler-icon"></span>
    		</button>
			
			<!--Marca-->
			<a class="navbar-brand nav-item nav-link-active" href="#pestana1" id="pestana1">
   				 <img src="#" width="30" height="30" class="d-inline-block align-top" alt=""  >
    			 Home
 			 </a>
			<div class="collapse navbar-collapse"  id="navbarToggleerDemo01">

				<!--Centra los items de la barra de navegacion-->
				<div class="navbar-nav text-center">
				<!--<div class="collapse navbar-collapse" id="navbarTogglerDemo01" >-->
 					<a class="nav-item nav-link" href="#pestana2" id="pestana2">Info solar fotovoltaica</a>
 					<a class="nav-item nav-link " href="#pestana3" id="pestana3">Calcular</a>
 					<a class="nav-item nav-link" href="#pestana4" id="pestana4">Imagenes</a>
 					<a class="nav-item nav-link" href="#pestana5" id="pestana5">Contactar</a>
 				<!--</div> 		-->

				</div>
			</div>

			
			</nav>

		</div>

	</header>
	<div id="pestanas">
		<!--Se presenta las pestañas-->
	</div>	




	<script type="text/javascript"src="../resources/js/interfazCalcular.js"></script>
	<script type="text/javascript" src="../resources/js/cualquier.js"></script>	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	


</body>


</html>