{% extends '../layout/base.html' %}
{% block 'title' %}Home page{% endblock 'title' %}

{% block 'content' %}
<div class="container">
	{% comment %} <a class="btn btn-success rounded" hreF="/home"><i class="fa fa-home"></i></a> {% endcomment %}
	<h1 class="my-5 text-center text-primary">Reporte del dimensionamiento del sistema fotovoltaico</h1>
	<hr>

	<div class="row">
		<div class="col-12 col-sm-6 col-md-6">
			<label> Perfil de carga/ consumo diario: </label>
		</div>
		<div class="col-6 col-sm-6 col-md-6">
			<label id="potencia"> {{resultadosDevices}} KWh/d </label>
		</div>

	</div>
	
	<div class="row">
		<div class="col-12 col-sm-6 col-md-6">
			<label> La cantidad de paneles a utilizar: </label>
		</div>
		<div class="col-6 col-sm-3 col-md-2">
			<label id="cantidad_paneles"> {{TotalPanel}} paneles</label>
		</div>
		<div class="col-3 col-sm-3 col-md-2">
			<label > {{panelCantidad}} W </label>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-6 col-md-6">
			<label> La cantidad de baterias a utilizar: </label>
		</div>
		<div class="col-6 col-sm-3 col-md-2">
			<label id="cantidad_baterias">{{TotalBateria}} baterías</label>
		</div>
		<div class="col-3 col-sm-3 col-md-2">
			<label> {{ah}} Ah</label>
		</div>
	</div>		
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6">
			<label> Inversor Seleccionado: </label>
		</div>
		<div class="col-6 col-sm-4 col-md-6">
			<label id="xd">{{inversor}}</label>
		</div>

	</div>
	{% for descripcion,cantidad in iteraciones %}
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6">
			<label> {{descripcion}} </label>
		</div>
		<div class="col-6 col-sm-4 col-md-6">
			<label>{{cantidad}}</label>
		</div>

	</div>
	{% endfor %}
	<legend class="my-5 text-center text-primary">Tabla de consumo </legend>
	
		<table class="table table-bordered table-hover table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nombre del equipo</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Consumo Total KW/H</th>					
				</tr>
			</thead>
			<tbody>
			{% for device in devices %}
				<tr>
					<th>{{device.equipo.descripcion}}</th>
					<th>{{device.equipo.cantidad}}</th>
					<th>{{device.totalConsumoDiario}}</th>					
				</tr>
			{% endfor %}
			</tbody>
		</table>			
	<hr>
	<a class="btn btn-success" href="/reporte/{{TotalPanel}}/{{TotalBateria}}/{{resultadosDevices}}/{{inversor}}/{{ah}}/{{panelCantidad}}/{{iteraciones.0.1}}/{{iteraciones.1.1}}/{{iteraciones.2.1}}/{{iteraciones.3.1}}/{{iteraciones.4.1}}/{{iteraciones.5.1}}/">Descargar <i class="fa fa-download"></i></a>
</div>
</div>
{% endblock 'content' %}


{% comment %} <i class="fa fa-home"></i> {% endcomment %}