{% extends '../layout/base.html' %}
{% block 'title' %}Home page{% endblock 'title' %}

{% block 'content' %}
<div class="container">
	<h1 class="my-5 text-center text-primary">Reporte</h1>
	<hr>
	<div class="row">
		<div class="col-12 col-sm-6 col-md-6">
			<label> Potencia en Wh/ día: </label>
		</div>
		<div class="col-6 col-sm-6 col-md-6">
			<label id="potencia"> {{resultadosDevices}} W </label>
		</div>

	</div>
	
	<div class="row">
		<div class="col-12 col-sm-6 col-md-6">
			<label> La cantidad de paneles a utilizar: </label>
		</div>
		<div class="col-6 col-sm-3 col-md-2">
			<label id="cantidad_paneles"> {{TotalPanel}} paneles</label>
		</div>
		<div class="col-3 col-sm-3 col-md-2">
			<label > {{panelCantidad}} W </label>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-sm-6 col-md-6">
			<label> La cantidad de baterias a utilizar: </label>
		</div>
		<div class="col-6 col-sm-3 col-md-2">
			<label id="cantidad_baterias">{{TotalBateria}} baterías</label>
		</div>
		<div class="col-3 col-sm-3 col-md-2">
			<label> {{ah}} Ah</label>
		</div>
	</div>		
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6">
			<label> Inversor Seleccionado: </label>
		</div>
		<div class="col-6 col-sm-4 col-md-6">
			<label id="xd">{{inversor}}</label>
		</div>

	</div>
	<legend class="my-5 text-center text-primary">Tabla de consumo </legend>
	
		<table class="table table-bordered table-hover table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nombre del equipo</th>
					<th scope="col">Horas</th>
					<th scope="col">Watts</th>					
				</tr>
			</thead>
			<tbody>
			{% for device in devices %}
				<tr>
					<th>{{device.equipo.descripcion}}</th>
					<th>{{device.equipo.horas}}</th>
					<th>{{device.totalConsumoDiario}}</th>					
				</tr>
			{% endfor %}
			</tbody>
		</table>			
	<hr>
	<button class="btn btn-success" href="/reporte/{{TotalPanel}}/{{TotalBateria}}/{{resultadosDevices}}/{{inversor}}/{{ah}}/{{panelCantidad}}">Descargar <i class="fa fa-download"></i></button>
</div>
{% endblock 'content' %}

</div>
{% comment %} <i class="fa fa-home"></i> {% endcomment %}