		<h1 class="my-5 text-center text-primary">Información de los tipos de SFV</h1>
		<hr>
		<div class="container">
			<div class="col-sm-12 col-md-12 col-lg-6 jumbotron">
				<h2>Tipos de sistemas fotovoltaicos</h2>
				<p >Existen dos tipos de sistemas fotovoltaicos: Sistemas fotovoltaicos aislados o autónomos y sistemas fotovoltaicos conectados a la red.</p>
			</div>			
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-6">	
					<h2>Aislado o autónomos</h2>
					<p>Los sistemas fotovoltaicos aislados en aquellos que funcionan principalmente en zonas de difícil acceso y que la red de energía eléctrica pública no ha podido llegar. En el caso de que si se cuente con un proveedor de suministro eléctrico, el sistema fotovoltaico SFV no tendrá sincronización con la red de la empresa de suministro eléctrico, es decir la instalación se dará de manera independiente y producen electricidad sin ningún tipo de conexión a la red eléctrica. 
					Este tipo de sistema consta de regulador, batería e inversor y se lo utilizan cuando los requerimientos son de energía en corriente alterna, aunque también puede alimentarse energía en corriente continua simultáneamente
					Son sistemas que pueden llegar a generar energía de manera confiable hasta por tres días sin presencia de sol, dependiendo de la capacidad de las baterías. Las aplicaciones de este sistema pueden ser las siguientes: En viviendas y edificios, alumbrado público. aplicaciones agropecuarias, bombeo y tratamiento de agua, aplicaciones mixtas combinándola con otras renovables. 
					</p>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">	
					<h2>Conectados a la red</h2>
					<p>Este tipo de sistema permite entregar energía a la red pública. En muchos países existen leyes que regulan todos los aspectos técnicos y 	económicos. En el Ecuador ya existen leyes que regulan el uso de microgeneración fotovoltaica. 
					La principal diferencia con las instalaciones que son de tipo aisladas o autónomas es que estás van a utilizar acumuladores o baterías y los reguladores de carga de los mismo con el objetivo de proteger y alargar la vida útil de las baterías, mientras que en los sistemas conectados a la red la energía no se almacena, sino que se pone a disposición de los usuarios a través de la red eléctrica según su producción, en este tipo de instalación utilizan equipos de medición bidireccionales que llevara el registro tanto de la energía que se vende a la empresa eléctrica como la energía que es utilizada para el consumo de la instalación productora.  
					</p>
				</div>	
			</div>
		</div>	