# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
#pycache
__pycache__
# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
myvenv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea
#VS Code settings
.vscode
#SQLite
db.sqlite3
#conf
my.cnf
