table{
	width:100%;
	text-align: left;
	border-collapse: collapse;
}

th, td{
	border:solid 1px;
	padding:10px;
}

thead{
	background-color: #007bff;
	color:white;
	border-bottom: solid 5px #0f362d;
}

tr:nth-child(even){
	background-color: #ddd;
}

table tr:hover td{
	background-color: #007bff;
	color:white;
}

/*tamano de input de tablas entrada de la tabla*/
td input{
	width: 60px;
}
