html{
	padding-bottom: 10px;
}
/*el cuerpo en color negro*/
.gallery-lightbox{
	/*posesione con respecto al tamaño del navegador*/
	position:fixed;
	/*expanda todo lo ancho posible*/
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.8);
	font-size: 16px;
	padding:5%;
	display:none;
	/*pone las figuras en el centro*/
	justify-content: center;
	align-items: center;

}

.gallery-lightbox.show{
	display:flex;	
}
.gallery-lightbox_modal{
	/* position: relative; */
	background-color: white;
	padding: 5%;
	padding-bottom: 10px;	
	width: 100%;
  	height: 100%;
	/*para quitar las esquinas filosas*/
	border-radius:5px;
	overflow: auto;

}

.gallery-lightbox_img{
	width:100%;
}

div .button_gallery{
	background-color: gray;
}

/*Mi estilo de Carousel*/
div .carousel-item{
	height:85vh;
}

div #carouselExampleIndicators{
	top:10px;
}

.d-block.w-100{
	
	height:75vh;
}
p{
	text-align: justify;
}
/*estilo de caja*/

.televisor{
	/* width:10px;
	height:10px; */
	background-color:#007bff;
	color:#ffffff;
	margin:10px;
	padding: 10px;
	border-radius:5px ;
	border:3px solid#000;
}
.televisor a{
	/* width:10px;
	height:10px; */
	color:#ffffff;
}
/*scroll*/
.scroll{	
	overflow:auto;
	height: 200px;	
	width: 100%;
}

/*Cabecera de la tabla fija*/
.scrolldevices{	
	/* max-height:1300px; */
	overflow:scroll;
	
}

.spacer{
	background-color: lightblue;
	padding-right: 20px;	
	max-height: 250px;
	overflow: scroll;
	overflow-x: hidden;
}
