*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

a{text-decoration: none}
a:focus{outline: none}


.wrapper-home{
	width:100%;
	margin: 100px auto 0 auto;
	text-align: center;
}

.formulario{
	width: 500px;
	padding: 30px;
	margin: 0px auto;
}

.formulario form{
	display: flex;
	flex-direction: column;
}

.formulario input:not([type='submit']) {
	border: none;
	padding: 5px 0px;
	/*border-bottom: 1px solid #ec5252;*/
	border-bottom: 1px solid #CBCBCB;
	margin: 10px 0px;
}

.formulario input:not([type='submit']):hover{
	border-bottom: 1px solid #2c84da;
}

.formulario input:not([type='submit']):focus{
	border-bottom: 2px solid #2c84da;
}

.formulario input[type='submit']{
	border: none;
	padding: 10px;
	color: #fff;
	background: #2c84da;
	margin-top: 30px;
	cursor: pointer;
}

.formulario input[type='submit']:hover{
	background: #3B3333;
}

.btn-registrar{
	display: block;
	margin: 30px auto;
	width: 150px;
	font-size: .9rem;
	text-align: center;
}

.formulario__alerta{
	padding: 10px 20px;
}

.no-active{
	display: none;
}