{% load static %}
{% block 'navbar' %}
<header>
		<div>	
			<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleerDemo01" aria-controls="navbarToggleerDemo01" aria-expanded="false" aria-label="Toggle navigation">
     			<span class="navbar-toggler-icon"></span>
    		</button>
			
			<!--Marca-->
			<a class="navbar-brand" href="#" id ="pestana1">   				 
    			 Calculadora SFV
 			 </a>
			<div class="collapse navbar-collapse"  id="navbarToggleerDemo01">

				<!--Centra los items de la barra de navegacion-->
				<div class="navbar-nav text-center">
				<!--<div class="collapse navbar-collapse" id="navbarTogglerDemo01" >-->
 					<a class="nav-item nav-link active" href="#info" id="pestana2">Info solar fotovoltaica</a>
 					<a class="nav-item nav-link " href="#calcular" id="pestana3">Calcular</a>
 					<a class="nav-item nav-link" href="#imagenes" id="pestana4">Imagenes</a>
 					<a class="nav-item nav-link" href="#contacto" id="pestana5">Contactar</a> 				
				</div>
			</div>
			</nav>
		</div>
	</header>
{% endblock 'navbar' %}