<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/estilos.css">

</head>
<body>
	<header>
		<div>	
			<nav class="navbar navbar-dark bg-dark">
				<div class="container">
				<!--<div class="collapse navbar-collapse" id="navbarTogglerDemo01" >-->
 					<a class="nav-link active" href="#pestana1" id="pestana1">Info solar fotovoltaica</a>
 					<a class="nav-link" href="#pestana2" id=pestana2>Calcular</a>
 					<a class="nav-link" href="#pestana3" id=pestana3>Imagenes</a>
 					<a class="nav-link" href="#pestana4" id=pestana4>Contactar</a>
 				<!--</div> 		-->
				</div>
			</nav>
		</div>
	</header>

	<div id=pestanas>
		<!--Se presenta las pestañas-->
	</div>	

	<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
	<script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../JS/cualquier.js"></script>

</body>


</html>